@font-face {
  font-family: 'bildo';
  font-size: bold;
  font-weight: 1000;
  src: url("./fonts/behemuthexpand.ttf");
  src: local("bildo"), url("./fonts/behemuthexpand.ttf") format("truetype"); }

body,
html {
  margin: 0;
  padding: 0; }

.container {
  background-image: url("./images/background.jpg");
  background-position: center;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  overflow: hidden; }

.row__header {
  display: flex;
  background-position: center;
  background-size: cover;
  height: 80px;
  width: 100vw; }

.row__header--logo {
  order: 1;
  width: 10vw; }

.row__header--logo img {
  position: absolute;
  left: 5%; }

.row__header--heading {
  order: 2;
  width: 100vw;
  text-align: center; }

.row__header--heading h2 {
  display: inline-block;
  font-family: 'bildo';
  font-size: 38px; }

.row__daySection {
  margin-top: 5%;
  display: flex;
  flex: 1 2; }

.row__daySection--menu {
  width: 280px;
  text-align: center; }

.row__daySection--menu div {
  display: inline-block; }

.row__daySection--section {
  margin-top: -3%;
  width: 100vw;
  text-align: center; }

.row__daySection--section div {
  display: inline-block;
  width: 80%;
  height: 100vh;
  overflow-y: auto;
  background: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); }

@media screen and (max-width: 800px) {
  .row__header--heading h2 {
    font-size: 28px; } }
