@font-face {
  font-family: 'bildo';
  font-size: bold;
  font-weight: 1000;
  src: url("./fonts/behemuthexpand.ttf");
  src: local("bildo"), url("./fonts/behemuthexpand.ttf") format("truetype"); }

body,
html {
  margin: 0;
  padding: 0; }

.container {
  background-image: url("./images/background.jpg");
  background-position: center;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  overflow: hidden; }

.row__header {
  display: flex;
  background-position: center;
  background-size: cover;
  height: 80px;
  width: 100vw; }

.row__header--logo {
  order: 1;
  width: 10vw; }

.row__header--logo img {
  position: absolute;
  left: 5%; }

.row__header--heading {
  order: 2;
  width: 100vw;
  text-align: center; }

.row__header--heading h2 {
  display: inline-block;
  font-family: 'bildo';
  font-size: 38px; }

.row__daySection {
  margin-top: 5%;
  display: flex;
  flex: 1 2; }

.row__daySection--menu {
  width: 300px;
  text-align: center; }

.row__daySection--menu div {
  display: inline-block; }

.row__daySection--section {
  margin-top: -3%;
  width: 100vw;
  text-align: center; }

.daySection {
  display: inline-block;
  width: 80%;
  height: 100vh;
  overflow-y: auto;
  background: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  position: relative; }

.daySection__title {
  width: 120px;
  height: 60px;
  position: absolute;
  top: 5%;
  box-shadow: 2px 3px 8px black;
  border-top-right-radius: 10%;
  border-bottom-right-radius: 10%; }

.daySection__title--name {
  height: 75%;
  background: rgba(253, 253, 0, 0.644);
  margin: 7px;
  padding-top: 4px;
  border-top-right-radius: 10%;
  border-bottom-right-radius: 10%;
  box-sizing: border-box;
  font-size: 45px;
  font-family: bildo; }

.menu {
  width: 50%;
  height: 40px;
  box-shadow: 0px 0px 10px black;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  background: #fff; }

.menu__head {
  display: flex !important;
  position: relative;
  height: 35px; }

.menu__head--title {
  box-sizing: border-box;
  padding-top: 8px;
  width: 84px;
  order: 1;
  position: relative;
  text-transform: uppercase;
  font-family: cursive; }

.menu__head--title::after {
  content: '';
  display: block;
  width: 1.5px;
  height: 25px;
  background: black;
  position: absolute;
  left: 100%;
  top: 7px; }

.menu__head--img {
  height: 19px;
  width: 17px;
  box-sizing: border-box;
  order: 1;
  position: absolute;
  top: 10px;
  right: 11px;
  transition: transform .5s; }

@media screen and (max-width: 800px) {
  .row__header--heading h2 {
    font-size: 28px; } }
