@font-face{
    font-family: 'bildo';
    font-size: bold;
    font-weight: 1000;
    src: url('./fonts/behemuthexpand.ttf');
    src: local('bildo'), 
    url('./fonts/behemuthexpand.ttf') format('truetype')
}