.row__daySection{
    margin-top: 5%;
    display: flex;
    flex: 1 2;
}
.row__daySection--menu{
    width: 300px;
    text-align: center;
}
.row__daySection--menu div{
    display: inline-block;
}
.row__daySection--section{
    margin-top: -3%;
    width: 100vw;
    text-align: center;
    
}